.page-heading {
  font-family: 'Proxima Nova', sans-serif;
  color: lightblue;

  height: 50px;
}

.triforce-icon {
  width: 50px;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}
