.page-heading {
  background-color: transparent;
  color: #eee;
}

.page-title {
  font-family: 'Hylia Serif', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 80px;
}

.triforce-icon {
  width: 50px;
}
