@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Fontspring-DEMO-proximanovacond-bold.otf');
}

@font-face {
  font-family: 'Hylia Serif';
  src: url('./assets/fonts/HyliaSerifBeta-Regular.otf');
}

:root {
  --color-orange: rgb(233, 143, 39);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.glow-blue {
  color: rgb(215, 223, 226);
  text-shadow:
    /* White glow */ 0 0 1px lightblue, 0 0 3px lightblue,
    /* blue glow */ 0 0 6px rgb(21, 177, 230), 0 0 12px rgb(21, 177, 230),
    0 0 50px rgb(21, 177, 230);
}
